
.jBwCF{
      display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    color: #c9c9c9;
    font-weight: 700;
}

.picture-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

._95X4G img {
    width: 200px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
   /* width: auto;
    height: auto;*/
    margin: 0 auto;
}

.picture-wrapper>img{
  display: inline-block;
   /* width: auto;
    height: auto;*/
    max-width: 100%;
    max-height: 100%;
}


.qmXQo{
  width:200px;
  height:200px;
}

//
.list-view .catetitle {
        width: 448px;
        height: 54px;
    }


.catetitle{
    overflow: hidden;
   /* height: 32px;*/
   height : 44px;
   line-height: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;

    font-size: 16px;
    line-height: 16px;
    margin-top: 10px;
    padding: 0 8px;
}    